<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Women's Bookclub Home</title>
</head>
<body>
    <div>
        <img src="/" alt="women reading">
        <h1>Welcome to our Women's Bookclub!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <div class="main">
            <h3>Featured Author of the Month: <a href="http://">Author Name</a></h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae non maiores molestiae ex cumque quisquam</p>
        </div>
        <div class="main">
            <h3>Memeber Choice of the Month: Shirley Patterson</h2>
            <img src="/" alt="member photo">
        </div>
        <div class="main">
            <input type="submit" value="Create Account" href="/create_account" class="btn btn-primary">
            <input type="submit" value="Login" href="/login" class="btn btn-success">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>
</html>