.container{
    display: inline-block;
}
.main{
    display: table-cell;
    padding: 10px;
}
form {
    width: 30px;
}

.main img{
    width: 50%;
    margin-left: 25%;
}

.header img{
    width: 50%;
    margin-left: 25%;
}
.header p{
    margin-left: 26%; 
}

h1{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

p{
    display: flex;
    justify-content: center;
    margin: 0px auto;
}